<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add admin - yam</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, user-scalable=no">
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <span class="navbar-brand">Добавление админа</span>
        </div>
      </nav>
      <form method="post" style="margin-top: 1vh">
        <div class="mb-3">
          <label for="username" class="form-label">Введите имя пользователя, которого хотите добавить как адмиина</label>
          <input class="form-control" id="username" name="username" autocomplete="off">
        </div>
        <button type="submit" class="btn btn-light">Добавить</button>
      </form>
      <hr>
      <div class="list-group">
        <a href="/chats/{{ id }}/info" class="list-group-item list-group-item-secondary">Вернуться к информации о группе</a>
        <a href="/chats/{{ id }}" class="list-group-item list-group-item-secondary">Вернуться к группе</a>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>
