<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New username - yam</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, user-scalable=no">
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <span class="navbar-brand">Изменить название чата</span>
        </div>
      </nav>
      <form method="post">
        <div class="mb-3">
          <label for="name" class="form-label">Новое название</label>
          <input class="form-control" name="name" autocomplete="off">
        </div>
        <button type="submit" class="btn btn-light">Изменить название</button>
      </form>
      <hr>
      <div class="list-group">
        <a href="/chats" class="list-group-item list-group-item-secondary">Вернуться к списку чатов</a>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>
