<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Delete account - yam</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <style>
      p{
        margin-top: 1vh;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Удаление аккаунта</h1>
      <form method="post">
        <button type="submit" class="btn btn-light">Удалить чат</button>
      </form>
      <hr>
      <div class="list-group">
        <a href="/chats" class="list-group-item list-group-item-secondary">Вернуться к списку чатов</a>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>
