<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sing up - yam</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <style media="screen">
      body{
        margin-top: 20vh;
      }
      p{
        margin-top: 1vh;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Регистрация</h1>
      <form method="post">
        <div class="mb-3">
          <label for="login" class="form-label">Логин</label>
          <input class="form-control" id="login" name="login" autocomplete="off">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Пароль</label>
          <input type="password" class="form-control" id="password" name="password" autocomplete="off">
        </div>
        <div class="mb-3">
          <label for="passwordcheck" class="form-label">Пароль еще раз</label>
          <input type="password" class="form-control" id="passwordcheck" name="passwordcheck" autocomplete="off">
        </div>
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
      </form>
      <hr>
      <div class="list-group">
        <a href="/" class="list-group-item list-group-item-secondary">Назад</a>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>
